.card {
  @extend %section-style;

  &__item {
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
    background-color: aqua;
  }
  &__text {
    padding: 20px;
  }
  &__img-wraper {
    position: relative;
  }
  &__svg {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 12px;
    height: 12px;
  }
  &__svg2 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 12px;
    height: 12px;
  }
  &__sale {
    visibility: hidden;
  }
}

.container {
  @extend %container-style;
}

.card__list {
  @extend %list-style, %list-throw;
}

.card__img {
  height: 100%;
  @extend %img-style;
}

.card__link {
  @extend %link-throw;
  padding: 0;
}

.double-price {
  @extend %text-throw;
  display: flex;
  align-items: center;
  text-align: start;
}

.card__sale {
  @extend %text-throw;
  color: $main-color;
  margin-left: 6px;
}
