{{#each this}}
    <li class="pagination-card-block">
                    <span class="pagination-name-group">название группы</span>
                    <span class="pagination-next">Дивитися всі</span>
                    <div class="pagination-card">                        
                        <img class="img1" loading="lazy" src={{previewURL}} data-src="{{largeImageURL}} alt=" non" />
                        <p class="pagination-name-card">{{tags}}</p>
                        <p class="pagination-price">200</p>
                    </div>
                </li>
    
{{/each}}