<header class="header js-header">    
    <button class="header-add_button"><svg class="header-icon__plus">
            <use href="../images/sprite/symbol-defs.svg#icon-plus"></use>
        </svg></button>
    <div class="header-container">
        <div class="header-menu js-header-menu">
            <div class="burger-container js-burger-container">
                <button class="header-menu__burger__button js-menu-button"><svg class="header-menu__burger">
                    <use href="../images/sprite/symbol-defs.svg#icon-menu-24px-1"></use>
                </svg></button>  
                <button class="header-menu__clear__button"><svg class="header-menu__clear__icon">
                        <use href="../images/sprite/symbol-defs.svg#icon-replay-24px-1-1"></use>
                    </svg>Очистити фільтри</button>
            </div>
            <div class="search-container js-search-container">
                <div class="search-container__wrapper">
                    <button class="registry-button" data-modal-open><span>Реєстрація/Увійти</span><svg class="search-container__icon">
                        <use href="../images/sprite/symbol-defs.svg#icon-user-profile-1"></use>
                    </svg></button>
                    
                    <button class="search-container__button">Створити оголошення!</button>
                </div>
            <a href="../index.html" class="header-logo js-logo">Logo</a> 
            <button class="header-menu__search__button js-search-button"><svg class="header-menu__search">
                <use href="../images/sprite/symbol-defs.svg#icon-search-24px-1"></use>
            </svg></button>  
                            
            </div>
            </div>
            <!-- <div class="header-buttons__container">
                <button class="registration-button"></button>
                <button class="add-button"></button>
            </div> -->
        </div>
        <nav class="header-nav js-nav">
            <button class="header-menu__close__button js-close-button"><svg class="header-menu__close">
                <use href="../images/sprite/symbol-defs.svg#icon-close-24px-1"></use>
            </svg></button>            
            <ul class="header-list js-header-list">
                <li class="header-list__item"><a class="header-list__auth"><svg class="header-menu__user">
                    <use href="../images/sprite/symbol-defs.svg#icon-user-profile-1"></use>
                </svg>Реєстрація / Увійти</a></li>
                <!-- <li class="header-list__item"><button class="header-list__button"></button></li> -->
                <li class="header-list__item"><a class="header-list__link" href="/property">Нерухомість</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/transport">Транспорт</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/work">Робота</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/electronics">Електроніка</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/businessAndServices">Бізнес та послуги</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/recreationAndSport">Відпочинок і спорт</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/free">Віддам безкоштовно</a></li>
                <li class="header-list__item"><a class="header-list__link" href="/trade">Обмін</a></li>                
            </ul>
            <a href="/" class="header-nav__clear__button"><svg class="header-menu__clear__icon">
                    <use href="../images/sprite/symbol-defs.svg#icon-replay-24px-1-1"></use>
                </svg>Очистити фільтри</a>
         <div class="header-nav__container"></div>           
        </nav>        
    </div>
</header>