    <!-- <div class="founding-container">
        <ul class="found-products"></ul>
    </div>     -->

    <div class="SEARCH-FORM__backdrop is-hidden" data-backdrop>
        <form class="SEARCH-FORM__form" data-form>
            <button class="SEARCH-FORM__close-popap" data-form-close>
                <!-- <i class="fas fa-times"></i> -->
                <svg class="SEARCH-FORM__icon-close">
                    <use href="../images/sprite/symbol-defs.svg#icon-close-24px-1"></use>    
                </svg>
            </button>
            
            <input 
                type="text"    
                class="SEARCH-FORM__form-input"
                name="query" 
                id="query" 
                placeholder="ПОШУК">
            <svg class="SEARCH-FORM__icon-search" data-form-search>
                <use href="../images/sprite/symbol-defs.svg#icon-search-24px-1"></use>
            </svg>
            <p class="SEARCH-FORM__alert is-hidden">Подумайте добре, а потім пишіть</p>
        </form>
    </div>
