<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="section-pagination"> 
        
        <ul class="pagination-btn">
            <li class="pagination-catigories-btn">1</li>
        </ul>
    </section>
    <footer class="footer">
        <span>Vector</span>
        <span>2019</span>
        <span>All Rights Reserved</span>
        <span>Developed with</span>
        <span>favorite-heart-button</span>
        <span>by GoIT Students</span>
    </footer>
<script src="./index.js"></script>
</body>

</html>