  {{!-- {{#each this}} --}}
    {{!-- {{#if this === "property"}}
      <option value="{{this}}" class="select-option">
        Нерухомість
      </option>
    {{/if}}
     {{!-- --}}
    {{#if this === "property"}}
      <option value="transport" class="select-option">
        Транспорт
      </option>
    {{/if}}

    {{#if this === "property"}}
      <option value="work" class="select-option">Робота</option>
    {{/if}}

    {{#if this === "property"}}
      <option value="electronics" class="select-option">
      Електроніка
      </option>
    {{/if}}

    {{#if this === "property"}}
      <option value="business-and-services" class="select-option">
        Бізнес та послуги
      </option>
    {{/if}}

    {{#if this === "property"}}
      <option value="recreation-and-sports" class="select-option">
        Відпочинок та спорт
      </option>
    {{/if}}

    {{#if this === "property"}}
      <option value="for-free" class="select-option">
        Віддам безкоштовно
      </option>
    {{/if}}

    {{#if this === "property"}}
      <option value="exchange" class="select-option">Обмін</option>
    {{/if}} --}}
  {{!-- {{/each}} --}}