{{#each this}}
<div class="pagination-group">
    <div class="pagination-name-group-div"><span class="pagination-name-group">id: {{nameCategory}}</span>
        <span class="pagination-next">Дивитися всі</span></div>
    <ul class="pagination-card-all">
        {{#each this}}
        <li class="pagination-card-block">
            <div class="pagination-card">
                <img class="img1" loading="lazy" src="#" data-src="#" alt=" image" />
            </div>
            <div class="namePrice">
                <p class="pagination-name-card">{{_id}}</p>
                <p class="pagination-price">{{price}}</p>
            </div>
        </li>

        {{/each}}
    </ul>
</div>
{{/each}}