{{#each this}}
<div class="pagination-group">
    {{#each this}}
    <div class="pagination-name-group-div"><span class="pagination-name-group">
            {{category}} <a class="lookAll" href="#">Дивитися всі</a></span>{{/each}}
        {{!-- <p class="pagination-next">Дивитися всі</p> --}}
    </div>
    <ul class="pagination-card-all">
        {{#each this}}
        <li class="pagination-card-block">
            <div class="pagination-card">
                <img class="img1" loading="lazy" src="
                {{imageUrls}}
                " data-src="#" alt=" image" />
            </div>
            <div class="namePrice">
                <p class="pagination-name-card">{{description}}</p>
                <p class="pagination-price">{{price}}</p>
            </div>
        </li>

        {{/each}}
    </ul>
</div>
{{/each}}